:root {
  --main-bg-color: cornflowerblue;
  --main-text-color: white;
  --border-radius: 10px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 20px;
  --font-family: 'Open Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: var(--font-family);
}

input,
button {
  font-size: 16px;
}

.head_bar {
  padding: var(--spacing-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.input_section > h2 {
  text-align: center;
  color: var(--main-bg-color);
}

.input_section > form > .input {
  margin: var(--spacing-small) 0;
}

.input_section > form > button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: var(--spacing-small);
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: var(--spacing-small);
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: var(--main-bg-color);
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: var(--spacing-medium) 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: var(--main-bg-color);
  font-weight: bold;
  margin-right: var(--spacing-small);
}

.search_section {
  margin: var(--spacing-medium) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-medium);
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.search_section > h2 {
  color: var(--main-bg-color);
}

.search_section > form {
  padding: var(--spacing-medium);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: var(--spacing-small);
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin-top: var(--spacing-medium);
  border: 1px solid black;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}

.book_shelf > h2 {
  color: var(--main-bg-color);
}

.book_shelf > .book_list {
  padding: var(--spacing-medium);
}

.book_shelf > .book_list > .book_item {
  padding: var(--spacing-small) var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: var(--spacing-small) 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin-right: var(--spacing-small);
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: var(--main-text-color);
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: var(--main-text-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: var(--spacing-large);
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal > .modal-content > .action > button {
  border: 0;
  padding: 5px;
  margin-right: var(--spacing-small);
  border-radius: 5px;
  cursor: pointer;
}

.modal > .modal-content > .action > .remove-yes {
  background-color: darkred;
  color: var(--main-text-color);
}

.modal > .modal-content > .action > .remove-no {
  background-color: darkgreen;
  color: var(--main-text-color);
}

.modal > .modal-content > p > span {
  font-weight: bold;
}
